$background: #f7f7fc;
$title-active: #14142b;

$grayscale-body: #4e4b66;
$grayscale-input: #eff0f7;
$grayscale-off-white: #fcfcfc;
$grayscale-line: #d9dbe9;
$grayscale-placeholder: #a0a3bd;
$grayscale-label: #6e7191;

$primary-default: #5f2eea;
$primary-dark: #2a00a2;
$primary-light: #e4daff;
